[Unit]
Description=Apache Kafka server (broker)
[Service]
Type=forking
User=root
Group=root
Environment='KAFKA_HEAP_OPTS=-Xms512m -Xmx512m'
ExecStart=/root/kafka/bin/kafka-server-start.sh -daemon /root/kafka/config/kraft/server.properties
ExecStop=/root/kafka/bin/kafka-server-stop.sh
LimitNOFILE=16384:163840
Restart=on-abnormal
[Install]
WantedBy=multi-user.target
